@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

.test-container {
  margin-bottom: 10px;
  display: block;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}

#main_deck {
  overflow-y: hidden;
}

.card {
  background-color: black;
  width: 108px;
  /* border: 3px solid #555; */
  display: inline-block;
  position: relative;
  padding: 5px;
  margin: 2px;
}

.card-image {
  transition: transform 0.15s;
  width: 6em;
}

.card-image:hover {
  transform: scale(1.1);
}

.card-image:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  overflow: hidden;
  min-height: 0px !important;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  background-color: #090446;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: red;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.testbox {
  min-height: 20px !important;
  text-align: center !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.row {
  margin-bottom: 10px;
  border: 8px solid #d1d1d1;
  border-radius: 10px;
}

.dropdown-item {
  text-align: center;
}

.navbar-brand {
  font-family: "Bungee Spice", cursive;
}

.card-info-image {
  transition: transform 0.15s;
  width: 15em;
}

.card-info-popup {
  width: 300px;
  background-color: black;
  position: sticky;
  top: 0;
  padding: 20px;
}
